html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

ul,
ol {
  list-style: none;
}

@media (max-width: 575px) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
  }
}
